@use "../Page/Page.scss";

#playing-section {
    --delay: 0ms;

    display: flex;
    flex-grow: 1;

    padding: 2rem;

    overflow: auto;

    &>section {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(7, auto);
        place-content: start center;
        gap: 1rem;

        .card-placeholder-element.animateable {
            opacity: 0;

            animation-name: card-placeholder-element-animation;
            animation-duration: var(--delay);
            animation-timing-function: cubic-bezier(1, 1, 1, 1);
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: forwards;

            @for $i from 1 through Page.$playing-pile-count {

                &:nth-child(#{$i}) {
                    animation-delay: calc(var(--delay) * $i);
                }
            }

            @keyframes card-placeholder-element-animation {

                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            .card-element {
                top: calc(var(--border-thickness) * -1);

                animation-duration: var(--delay);
                animation-timing-function: var(--best-bezier-curve);
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;

                @for $i from 1 through calc(Page.$playing-pile-count + 1) {

                    &:nth-child(#{$i}) {
                        animation-delay: calc(var(--delay) * (Page.$playing-pile-count + $i - 2));
                    }

                    &:nth-child(#{calc($i + 1)}) {
                        animation-name: card-element-animation-#{$i};

                        @keyframes card-element-animation-#{$i} {

                            to {
                                top: calc(var(--border-thickness) * -1 + ($i - 1) * var(--density));
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: Page.$second-screen-width) {

    #playing-section {

        &>section {
            place-content: start end;
        }
    }
}