@use "../Page/Page.scss";

.card-placeholder-element {
    --border-thickness: 0.4rem;
    --density: 50%;

    position: relative;

    width: Page.$card-element-width;
    aspect-ratio: Page.$card-element-aspect-ratio;

    background-color: var(--background-darker-colour);

    border: var(--border-thickness) solid var(--background-colour);
    border-radius: 1rem;

    box-sizing: border-box;

    @each $card-type in Page.$card-types {
        &.#{$card-type}>figure {
            --icon-url: url("../Icons/#{$card-type}.svg");
        }
    }

    @for $i from 1 through Page.$card-count {

        &.vertical .card-element:nth-child(#{calc($i + 1)}) {
            top: calc(var(--border-thickness) * -1 + ($i - 1) * var(--density));
        }

        &.horizontal .card-element:nth-child(#{calc($i + 1)}) {
            left: calc(var(--border-thickness) * -1 + ($i - 1) * var(--density));
        }
    }

    &.lighter-tone {
        background-color: var(--background-colour);
        border-color: var(--background-darker-colour);
    }

    &.deck-placeholder>figure {
        --icon-url: url("../Icons/cards.svg");
    }

    &.clickable {
        overflow: hidden;

        cursor: pointer;

        background-color: var(--fore-darker-colour);
        border-color: var(--fore-colour);

        &::before {
            height: 15%;

            animation: card-placeholder-element-before-animation;

            @keyframes card-placeholder-element-before-animation {

                0%,
                2.5% {
                    transform: translate(-125%, -125%) rotate(-45deg);
                }

                22.5%,
                100% {
                    transform: translate(25%, 25%) rotate(-45deg);
                }
            }
        }

        &::after {
            height: 10%;

            animation: card-placeholder-element-after-animation;

            @keyframes card-placeholder-element-after-animation {

                0% {
                    transform: translate(-125%, -125%) rotate(-45deg);
                }

                20%,
                100% {
                    transform: translate(25%, 25%) rotate(-45deg);
                }
            }
        }

        &::before,
        &::after {
            content: "";

            position: absolute;
            top: 50%;
            left: 50%;

            width: 300%;

            background-color: var(--fore-colour);

            opacity: 0.85;

            animation-duration: 7500ms;
            animation-timing-function: cubic-bezier(1, 1, 1, 1);
            animation-direction: normal;
            animation-iteration-count: infinite;
        }

        &:hover>figure {
            transform: translate(-50%, -50%) scale(1.2);
        }

        &>figure {
            opacity: 1;
        }
    }

    &>figure {
        --icon-url: url("");

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: Page.$card-large-icon-width;
        aspect-ratio: 1;

        background-image: var(--icon-url);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        opacity: 0.15;

        transition: transform 500ms;

        pointer-events: none;
    }

    .card-element {
        position: absolute;
        top: calc(var(--border-thickness) * -1);
        left: calc(var(--border-thickness) * -1);
    }
}

.light-themed .card-placeholder-element {

    &:not(.clickable).lighter-tone>figure {
        filter: invert(1);

        opacity: 0.25;
    }

    &>figure {
        opacity: 1;
    }
}