@use "../Page/Page.scss";

.card-placeholder-element {
    width: Page.$card-element-width;
    aspect-ratio: Page.$card-element-aspect-ratio;

    display: flex;
    place-content: center;
    place-items: center;

    background-color: var(--background-darker-colour);

    border: 0.4rem solid var(--background-colour);
    border-radius: 1rem;

    box-sizing: border-box;

    overflow: hidden;

    @each $card-type in Page.$card-types {
        &.#{$card-type}>figure {
            --icon-url: url("../Icons/#{$card-type}.svg");
        }
    }

    &.lighter-tone {
        background-color: var(--background-colour);
        border-color: var(--background-darker-colour);
    }

    &.deck-placeholder>figure {
        --icon-url: url("../Icons/cards.svg");
    }

    &>figure {
        --icon-url: url("");

        width: Page.$card-large-icon-width;
        aspect-ratio: 1;

        background-image: var(--icon-url);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        opacity: 0.15;
    }
}