@use "../Page/Page.scss";

.card-placeholder-element {
    --border-thickness: 0.4rem;
    --density: 50%;

    position: relative;

    width: Page.$card-element-width;
    aspect-ratio: Page.$card-element-aspect-ratio;

    background-color: var(--background-darker-colour);

    border: var(--border-thickness) solid var(--background-colour);
    border-radius: 1rem;

    box-sizing: border-box;

    @each $card-type in Page.$card-types {
        &.#{$card-type}>figure {
            --icon-url: url("../Icons/#{$card-type}.svg");
        }
    }

    @for $i from 1 through Page.$card-count {

        &.vertical .card-element:nth-child(#{calc($i + 1)}) {
            top: calc(var(--border-thickness) * -1 + ($i - 1) * var(--density));
        }

        &.horizontal .card-element:nth-child(#{calc($i + 1)}) {
            left: calc(var(--border-thickness) * -1 + ($i - 1) * var(--density));
        }
    }

    &.lighter-tone {
        background-color: var(--background-colour);
        border-color: var(--background-darker-colour);
    }

    &.deck-placeholder>figure {
        --icon-url: url("../Icons/cards.svg");
    }

    &.clickable {
        cursor: pointer;

        &:hover>figure {
            transform: translate(-50%, -50%) scale(1.2);
        }
    }

    &>figure {
        --icon-url: url("");

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: Page.$card-large-icon-width;
        aspect-ratio: 1;

        background-image: var(--icon-url);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        opacity: 0.15;

        transition: transform 500ms;

        pointer-events: none;
    }

    .card-element {
        position: absolute;
        top: calc(var(--border-thickness) * -1);
        left: calc(var(--border-thickness) * -1);
    }
}