@use "../index.scss";
$first-screen-width: 800px;
$second-screen-width: 520px;

$card-count: 54;
$card-element-width: 10vmin;
$card-element-aspect-ratio: calc(2 / 3);
$card-large-icon-width: 60%;
$card-colours: colourful, colourless;
$card-types: heart, diamond, club, spade;
$playing-pile-count: 7;
$reserved-card-count: 3;

#page {
    $padding: 3rem;

    min-height: calc(100vh - $padding * 2);
    min-height: calc(100dvh - $padding * 2);

    display: flex;
    place-content: center;
    place-items: center;

    padding: $padding;

    &>main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr;
        gap: 2rem;

        animation-name: main-section-animation;
        animation-duration: 750ms;
        animation-timing-function: cubic-bezier(1, 1, 1, 1);
        animation-fill-mode: forwards;
        animation-direction: normal;
        animation-iteration-count: 1;

        opacity: 0;

        @keyframes main-section-animation {

            to {
                opacity: 1;
            }
        }

        #theme-toggling-button {
            --icon-url: url("");

            position: absolute;
            top: $padding;
            right: $padding;
        }

        &>figure {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
            place-content: center;
            place-items: center;

            .card-container {
                --delay: 750ms;
                --card-offset: 10vw;

                position: relative;
                transform: rotate(0deg) scale(0);

                width: 14rem;

                grid-row: 1;
                grid-column: 1;

                animation-duration: var(--delay);
                animation-timing-function: var(--best-bezier-curve);
                animation-fill-mode: forwards;
                animation-direction: normal;
                animation-iteration-count: 1;

                @for $i from 1 through 4 {

                    &:nth-child(#{$i}) {
                        left: calc(var(--card-offset) * ($i - 2.5));
                        transform-origin: 50% 50%;

                        animation-name: card-container-animation-#{$i};
                        animation-delay: calc(var(--delay) * $i / 4);

                        z-index: calc(4 - $i);

                        @keyframes card-container-animation-#{$i} {
                            to {
                                transform: rotate(calc(10deg * ($i - 1.5))) scale(1 + 0.05 * ($i - 1));
                            }
                        }
                    }
                }

                .card-element {
                    --pseudo-element-offset: 1.5rem;

                    width: 100%;

                    .corner {
                        font-size: 3.5rem;
                        font-weight: bolder;
                    }
                }
            }
        }

        #welcoming-section {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h1 {
                font-size: xx-large;
            }
        }
    }

    .custom-button {
        background-color: var(--background-colour);
    }

    .button-displayer {
        display: flex;
        gap: 2rem;
    }
}

.dark-themed #theme-toggling-button {
    --icon-url: url("../Icons/light_mode.svg") !important;
}

.light-themed #theme-toggling-button {
    --icon-url: url("../Icons/dark_mode_2.svg") !important;
}

@media (width >=$first-screen-width) {

    #page>main {
        width: 100%;

        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr;
        place-content: center;
        place-items: center;

        &>figure .card-container {
            --card-offset: 5vw;

            width: 15vw;
        }

        #welcoming-section {
            gap: 2rem;

            max-width: 35vw;
        }
    }
}