@use "../index.scss";
$first-screen-width: 800px;
$second-screen-width: 520px;

$card-count: 54;
$card-element-width: 10vmin;
$card-element-aspect-ratio: calc(2 / 3);
$card-large-icon-width: 60%;
$card-colours: colourful, colourless;
$card-types: heart, diamond, club, spade;
$playing-pile-count: 7;
$reserved-card-count: 3;

#page {
    $padding: 2rem;

    min-height: calc(100vh - $padding * 2);
    min-height: calc(100dvh - $padding * 2);

    display: flex;
    place-content: center;
    place-items: center;

    padding: $padding;

    &>section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .custom-button {
        background-color: var(--background-colour);
    }
}