$first-screen-width: 800px;
$second-screen-width: 520px;

#page {
    $padding: 2rem;

    min-height: calc(100vh - $padding * 2);

    display: flex;
    place-content: center;
    place-items: center;

    padding: $padding;
}