@font-face {
    font-family: CascadiaCode;
    font-style: normal;
    font-weight: 400;
    src: local("Cascadia Code"), url("https://fonts.cdnfonts.com/s/29131/Cascadia.woff") format("woff");
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-colour: #00D647; // #F00;
    --background-colour: #222;
    --background-darker-colour: #111;
    --fore-colour: #FFF;
    --fore-darker-colour: #999;
    --half-transparent: #0000007C;
    --best-bezier-curve: cubic-bezier(0.15, 0.95, 0.3, 1.5);

    --main-colour-filter: invert(40%) sepia(40%) saturate(3678%) hue-rotate(98deg) brightness(99%) contrast(105%);
    //  sepia() saturate(1000%) hue-rotate(100deg) invert(1) brightness(200%);

    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Cascadia Code", CascadiaCode, Consolas, Arial;

    min-height: 100vh;

    margin: 0;

    color: var(--fore-colour);
    background-color: var(--background-colour);

    &::before {
        content: "";

        position: fixed;
        inset: 0;

        background: linear-gradient(45deg, transparent 34%, #C4C4C4C7 35%, #C4C4C4C7 40%, transparent 41%, transparent 59%, #C4C4C4C7 60%, #C4C4C4C7 65%, transparent 66%), linear-gradient(135deg, transparent 34%, #C4C4C4C7 35%, #C4C4C4C7 40%, transparent 41%, transparent 59%, #C4C4C4C7 60%, #C4C4C4C7 65%, transparent 66%);
        background-size: 3em 3em;

        opacity: 0.25;
    }

    &.light-themed::before {
        opacity: 0.75;
    }
}

input,
button {
    font-family: inherit;
    font-size: inherit;

    color: inherit;
    background-color: var(--half-transparent);

    border: 0.1rem solid var(--fore-colour);
    border-radius: 1rem;

    padding: 1rem;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

q {
    color: var(--main-colour);
}

q::before,
q::after {
    content: "";
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-left: 2ch;
    margin: 0;
}

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--background-darker-colour);
}

*:not(body)::-webkit-scrollbar-track {
    background-color: var(--background-darker-colour);
    border-radius: 100rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-colour);

    border: 0.2rem solid var(--half-transparent);
    border-radius: 100vh;
}

.light-themed ::-webkit-scrollbar-thumb {
    background-color: #f00;
}

@mixin break($direction, $thickness: 0.1rem, $padding: 2rem, $colour: var(--fore-colour)) {
    border-#{$direction}: $thickness solid $colour;
    padding-#{$direction}: $padding;
}

.break-top {
    @include break(top);
}

.break-left {
    @include break(left);
}

.break-right {
    @include break(right);
}

.break-bottom {
    @include break(bottom);
}